.my-custom-scrollbar {
  position: relative;
  height: 650px;
  overflow: auto;
}

.table-wrapper-scroll-y {
  display: block;
}

.right_side {
  position: absolute;
  right: 200px;
}

.advanced-search-form-container {
  background-color: white;
}

.advanced-search-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 944px) {
  .advanced-search-grid {
    grid-template-columns: 1fr;
  }
}
